*{
	margin:0;
	padding:0;
	
}
html, body{
	height:100%;
}
#container{
	min-height:100%;
}
#main{
	overflow:auto;
	padding-bottom: 100px;
	background: yellow;
	height:550px;
}
nav{
width:100%;
background:black;
overflow:auto;
}
ul{
padding:0;
margin:0 0 0 100px;
list-style:none;
}
li{
float:left;
}
nav a{
width:100px;
display:block;
padding:30px 40px;
text-decoration:none;
font-family:Times new roman;
color:#f2f2f2;
text-allign:left;
}
.logo img{
position:absolute;
margine-top:20px;
margin-left:3px;
}
nav a:hover{
background:purple;
transition:2s;
text-transform:uppercase;

}
header {
  background-color: yellow;
  text-align: center;
  padding: 1px;
font-color: white;
}
.cont{
    background-color: #ffffff;
    width: 50%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 60%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
.image-container{
    position: relative;
    width: 100%;
}
img{
    position: relative;
    width: 100%;
    display: none;
}
.active{
    display: block;
}
.dot-container{
    width: 150px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
button{
    outline: none;
    cursor: pointer;
}
.dot-container button{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 3px solid #8052ec;
    background-color: transparent;
}
.dot-container button:nth-child(1){
    background-color: #8052ec;
}
#prev,#next{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #8052ec;
    color: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bolder;
}
#prev{
    left: 15px;
}
#next{
    right: 15px;
}

#footer{
background-color:black;
position:relative;
height:20%;
margin-top:-100px;
clear: both;
color: white;
}


footer p {
  font-size: 14px;
  line-height: 1.5;
}

footer h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .container {
  max-width: 1140px;
  margin: 0 auto;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col-md-4 {
  width: calc(33.33% - 20px);
}

@media (max-width: 991px) {
  footer .col-md-4 {
    width: 100%;
    margin-bottom: 30px;
  }
}
